{% if page.github %}
  <!-- Github link -->
  <a href="{{ 'https://github.com/' | append: page.github.user | append: '/' | append: page.github.repo }}" title="GitHub">
    <i class="fab fa-github" style="font-size: 3rem;"></i>
  </a>
{% endif %}

{% if page.links.pdf %}
  <!-- PDF Link -->
  {% if page.links.pdf contains '://' %}
    <a href="{{ page.links.pdf }}" title="PDF"">
      <i class="fab fa-file-pdf"></i></a>
  {% else %}
    <a href="{{ page.links.pdf | prepend: '/assets/pdf/' | relative_url }}" title="PDF">
      <i class="fas fa-file-pdf" style="font-size: 3rem;"></i>
    </a>
  {% endif %}
{% endif %}

{% if page.links.url %}
  <!-- External URL -->
  <a href="{{ page.links.url }}" title="External Url">
    <i class="fas fa-external-link-alt" style="font-size: 3rem;"></i>
  </a>
{% endif %}
