An ordered list of my {{ site.project_limit }} most recent projects. Included is a github repo badge (If possible).

for an extended list of things I'm working on, or have previously worked with, see <a href="sk1y101.github.io/projects/">the projects section</a> of this website.

<div class="projects">
  {% if site.projects  %}
    <div class="grid">
      {% assign projects = site.projects | reverse %}
      {% for item in projects limit: site.project_limit %}
        <div class="grid-item">
          <!-- Setup clickable links -->
          {% if item.redirect %}
            <a href="{{ item.redirect }}">
          {% else %}
            <a href="{{ item.url | relative_url }}">
          {% endif %}
          <!-- show image badge if possible -->
          <div class="card hoverable">
            {% if item.github %}
              <img align="center" class="imgresize ghcard-light" src="{{ 'https://github-readme-stats.vercel.app/api/pin/?username=' | append: item.github.user | append: '&repo=' | append: item.github.repo | append: '&border_radius=20&title_color=2698BA&icon_color=2698BA&text_color=000000&bg_color=EEEEEE&border_color=2A2A2B' }}"/>
              <img align="center" class="imgresize ghcard-dark" src="{{ 'https://github-readme-stats.vercel.app/api/pin/?username=' | append: item.github.user | append: '&repo=' | append: item.github.repo | append: '&border_radius=20&title_color=B3FFFF&icon_color=B3FFFF&text_color=A3A3A6&bg_color=2A2A2B&border_color=EEEEEE' }}"/>
            {% else %}
              <div class="customghcard">
                <h6>{{ item.title }}</h6>
                {{ item.description }}
              </div>
            {% endif %}
            <!-- Card text if given -->
            <div class="card-body text-capitalize">
              {{ item.date | date: "%b %-d, %Y" }} - {{ item.title }}
            </div>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No projects so far...</p>
  {% endif %}
</div>
