---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{% if page.longtitle %}{{ page.longtitle }}{% else %}{{ page.title }}{% endif %}</h1>
    <p class="post-description">{{ page.description }}</p>
    <p>{% if page.links %}{% include pagelinks.html %}{% endif %}</p>
  </header>

  {% if page.toc %}
  <div class="sidebar">
    <nav class="l-text figcaption">
    <h3>Contents</h3>
      {% for section in page.toc %}
      <div><a href="#{{ section.name | downcase | replace: ' ','-' }}">{{ section.name }}</a></div>
      {% if section.subsections %}
      <ul>
        {% for subsection in section.subsections %}
        <li><a href="#{{ subsection.name | downcase | replace: ' ','-' }}">{{ subsection.name }}</a></li>
        {% if subsection.subsubsections %}
        <ul>
          {% for subsubsections in subsection.subsubsections %}
          <li><a href="#{{ subsubsections.name | downcase | replace: ' ','-' }}">{{ subsubsections.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      {% endfor %}
    </nav>
  </div>
  {% endif %}
  <hr/>

  <article>
    {{ content }}
  </article>

  {% if page.github.onpage %}
    <hr/>
    <h3 id="GitHub Repo">GitHub Repo</h3>
    <!-- Github card if given -->
    <a href="{{ 'https://github.com/' | append: page.github.user | append: '/' | append: page.github.repo }}">
      <img align="center" class="imgresize ghcard-light"  src="{{ 'https://github-readme-stats.vercel.app/api/pin/?username=' | append: page.github.user | append: '&repo=' | append: page.github.repo | append: '&border_radius=20&title_color=2698BA&icon_color=2698BA&text_color=000000&bg_color=EEEEEE&border_color=2A2A2B' }}">
      <img align="center" class="imgresize ghcard-dark"   src="{{ 'https://github-readme-stats.vercel.app/api/pin/?username=' | append: page.github.user | append: '&repo=' | append: page.github.repo | append: '&border_radius=20&title_color=B3FFFF&icon_color=B3FFFF&text_color=A3A3A6&bg_color=2A2A2B&border_color=EEEEEE' }}"/>
    </a>
    {% if page.github.showbadges %}
      <br>
      <img alt="GitHub license"         src="{{ 'https://img.shields.io/github/license/' | append: page.github.user | append: '/' | append: page.github.repo }}"/>
      <a href="{{ 'https://www.codefactor.io/repository/github/' | append: page.github.user | append: '/' | append: page.github.repo }}">
        <img alt="CodeFactor"           src="{{ 'https://www.codefactor.io/repository/github/' | append: page.github.user | append: '/' | append: page.github.repo | append: '/badge' }}"/>
      </a>
      <a href="{{ 'https://wakatime.com/badge/github/' | append: page.github.user | append: '/' | append: page.github.repo }}">
        <img alt="wakatime"             src="{{ 'https://wakatime.com/badge/github/' | append: page.github.user | append: '/' | append: page.github.repo | append: '.svg' }}"/>
      </a>
      <img alt="GitHub commit activity" src="{{ 'https://img.shields.io/github/commit-activity/w/' | append: page.github.user | append: '/' | append: page.github.repo }}"/>
      <img alt="GitHub last commit"     src="{{ 'https://img.shields.io/github/last-commit/' | append: page.github.user | append: '/' | append: page.github.repo }}"/>
      <br>
      <img alt="GitHub language count"  src="{{ 'https://img.shields.io/github/languages/count/' | append: page.github.user | append: '/' | append: page.github.repo }}"/>
      <img alt="GitHub top language"    src="{{ 'https://img.shields.io/github/languages/top/' | append: page.github.user | append: '/' | append: page.github.repo }}"/>
      <img alt="GitHub code size"       src="{{ 'https://img.shields.io/github/languages/code-size/' | append: page.github.user | append: '/' | append: page.github.repo }}"/>
      <img alt="Lines of code"          src="{{ 'https://img.shields.io/tokei/lines/github.com/' | append: page.github.user | append: '/' | append: page.github.repo }}"/>
      {% if page.github.openhub %}
        <a href="{{ 'https://www.openhub.net/p/' | append: page.github.openhub }}">
          <img alt="OpenHub statistics" src="{{ 'https://www.openhub.net/p/' | append: page.github.openhub | append: '/widgets/project_thin_badge?format=gif' }}" style="border-radius: 0.25rem;">
        </a>
      {% else %}
        <a href="{{ 'https://www.openhub.net/p/' | append: page.github.repo }}">
          <img alt="OpenHub statistics" src="{{ 'https://www.openhub.net/p/' | append: page.github.repo | append: '/widgets/project_thin_badge?format=gif' }}" style="border-radius: 0.25rem;">
        </a>
      {% endif %}
      {% if page.github.contributors %}
        <br><br>
        <a href="{{ 'https://github.com/' | append: page.github.user | append: '/' | append: page.github.repo | append: '/graphs/contributors' }}">
          <img src="{{ 'https://contrib.rocks/image?repo=' | append: page.github.user | append: '/' | append: page.github.repo }}"/>
        </a>
      {% endif %}
    {% endif %}
  {% endif %}

</div>
